InventoryManagement/force-app/main/default/flows/not_finished.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <constants>
        <name>Delivered</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Delivered</stringValue>
        </value>
    </constants>
    <constants>
        <name>Incoming</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Incoming</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Incoming_delevered</name>
        <label>Incoming_delevered</label>
        <locationX>172</locationX>
        <locationY>314</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Item_delivered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOrder.Order_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Delivered</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOrder.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Incoming</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inventory</targetReference>
            </connector>
            <label>Item_delivered</label>
        </rules>
    </decisions>
    <interviewLabel>not_finished {!$Flow.CurrentDateTime}</interviewLabel>
    <label>not_finished</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Inventory</name>
        <label>Inventory</label>
        <locationX>361</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_inventory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOrder.Product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Custom_Inventory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_inventory</name>
        <label>Update_inventory</label>
        <locationX>539</locationX>
        <locationY>327</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOrder.Product__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>varOrder.Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <object>Custom_Inventory__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Incoming_delevered</targetReference>
        </connector>
        <object>Custom_Order__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>varOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Custom_Order__c</objectType>
    </variables>
</Flow>
