InventoryManagement/force-app/main/default/flows/Update_records_screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <dynamicChoiceSets>
        <name>varRecordChoices</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Estimated_Recieve_Date_Start__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>Order_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>delivered</stringValue>
            </value>
        </filters>
        <object>Custom_Order__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Update_records_screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update_records_screen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>update_records</name>
        <label>update_records</label>
        <locationX>174</locationX>
        <locationY>371</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecordChoices</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Delivery_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Status__c</field>
            <value>
                <stringValue>delivered</stringValue>
            </value>
        </inputAssignments>
        <object>Custom_Order__c</object>
    </recordUpdates>
    <screens>
        <name>Orders_Accepted</name>
        <label>Orders Accepted</label>
        <locationX>177</locationX>
        <locationY>215</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>update_records</targetReference>
        </connector>
        <fields>
            <name>Records</name>
            <choiceReferences>varRecordChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Records</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>374</locationX>
        <locationY>371</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success_text</name>
            <fieldText>&lt;p&gt;Success&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Orders_Accepted</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ids_to_update</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
