InventoryManagement/force-app 2/main/default/flows/Incoming_order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>In_Inventory</name>
        <label>In_Inventory?</label>
        <locationX>369</locationX>
        <locationY>446</locationY>
        <defaultConnector>
            <targetReference>Create_Inventory_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not In Inventory</defaultConnectorLabel>
        <rules>
            <name>Inside_inventory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_inventory</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_inventory</targetReference>
            </connector>
            <label>Inside Inventory</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Bins_to_store_in</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Bin_List__c</picklistField>
        <picklistObject>Custom_Inventory__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varOrdersPicklist</name>
        <dataType>Number</dataType>
        <displayField>Product__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Estimated_Recieve_Date_Start__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>Estimated_Recieve_Date_End__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <object>Custom_Order__c</object>
        <outputAssignments>
            <assignToReference>Picked_order1</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>picked_Product.Id</assignToReference>
            <field>Product__c</field>
        </outputAssignments>
        <sortField>Estimated_Recieve_Date_Start__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Quantity__c</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Incoming_order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Incoming_order</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Inventory_Record</name>
        <label>Create Inventory Record</label>
        <locationX>501</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Update_order</targetReference>
        </connector>
        <inputAssignments>
            <field>Bin_List__c</field>
            <value>
                <elementReference>Bins_to_store_in</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>picked_Product.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>varOrdersPicklist</elementReference>
            </value>
        </inputAssignments>
        <object>Custom_Inventory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_inventory</name>
        <label>get_inventory</label>
        <locationX>519</locationX>
        <locationY>312</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>In_Inventory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>picked_Product.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Custom_Inventory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_inventory</name>
        <label>Update_inventory</label>
        <locationX>237</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Update_order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Inside_inventory</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bin_List__c</field>
            <value>
                <elementReference>Bins_to_store_in</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>varOrdersPicklist</elementReference>
            </value>
        </inputAssignments>
        <object>Custom_Inventory__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_order</name>
        <label>Update_order</label>
        <locationX>369</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Success2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Incoming_Product</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Delivery_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Status__c</field>
            <value>
                <stringValue>delivered</stringValue>
            </value>
        </inputAssignments>
        <object>Custom_Order__c</object>
    </recordUpdates>
    <screens>
        <name>Order_received</name>
        <label>Order received</label>
        <locationX>369</locationX>
        <locationY>206</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_where_put</targetReference>
        </connector>
        <fields>
            <name>Incoming_Product</name>
            <choiceReferences>varOrdersPicklist</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Incoming Product</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_where_put</name>
        <label>Select_where_put</label>
        <locationX>369</locationX>
        <locationY>326</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>get_inventory</targetReference>
        </connector>
        <fields>
            <name>Bins</name>
            <choiceReferences>Bins_to_store_in</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Bins</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success2</name>
        <label>Success</label>
        <locationX>369</locationX>
        <locationY>902</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p&gt;Item added to inventory successfully&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>243</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Order_received</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Picked_order1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>picked_Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Custom_Product__c</objectType>
    </variables>
    <variables>
        <name>varInventory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Custom_Inventory__c</objectType>
    </variables>
    <variables>
        <name>varOrder</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Custom_Order__c</objectType>
    </variables>
</Flow>
